body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/wallpaper/wallpaper2.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.group {
  margin: 0 3em;
}

a {
  text-decoration: none;
}

section {
  margin: 0 3em;
  padding: 1.5em 0;
}

.logo {
  margin: 0;
  padding: 0.5em;
  width: 9em;
  background: #EDCD1F;
  color: #2d3e50;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
}
.logo span {
  color: #2d3e50;
  font-weight: 400;
}

#menu {
  color: white;
  font-size: 1.5em;
}

.menu {
  margin-left: 11.1em;
  margin-top: -4.3em;
  padding-top: 2.4em;
  padding-bottom: 0.7em;
  background: #1E2D3B;
  list-style: none;
  font-size: 0.9em;
}
.menu__item {
  display: inline;
}
.menu__link {
  color: white;
  padding: 0 1em;
  opacity: 0.8;
  border-right: 1px solid rgba(189, 223, 0, 0.38);
}
.menu__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #edcd1f;
  transition: 0.2s;
  opacity: 1;
}

.banner {
  margin-top: 4em;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}
.banner img {
  width: 5%;
  margin-bottom: 3.5em;
  margin-top: 2em;
  filter: invert(1);
}

#services {
  background: #1E2D3B;
  text-align: center;
}
#services .box.tablet {
  width: 23.6%;
  display: inline-table;
}

#info__services {
  background: #1E2D3B;
}

.services__info {
  margin-left: 16.8em;
  padding-top: 0.1em;
  width: 17%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
  border-bottom: 5px solid #EDCD1F;
}

.services {
  padding-top: 0.9em;
  padding-bottom: 1.5em;
  text-align: center;
}
.services img {
  width: 58%;
  opacity: 0.5;
}
.services img:hover {
  transition: 0.5s;
  opacity: 0.9;
}
.services video {
  width: 100%;
}
.services__title {
  color: orangered;
  margin: 0.3em 0;
  font-size: 1.7em;
  opacity: 0.7;
}
.services__description {
  font-size: 1em;
}

#info {
  background: #1E2D3B;
  width: 45%;
}

.info {
  padding-top: 0.9em;
  padding-bottom: 0.5em;
}
.info__title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  border-bottom: 2.5px solid orangered;
  padding-bottom: 0.3em;
  width: 52%;
}
.info__description {
  color: white;
  font-size: 1.5em;
  width: 60%;
}

.info__html img {
  width: 100%;
}

#video {
  margin: 0;
  padding: 0;
}
#video video {
  width: 100%;
}

#footer {
  padding: 1em 0;
  background: black;
  text-align: center;
  font-size: 0.9em;
}