<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Body of page
        link(rel="stylesheet", href="css/style.css")
    body
        header#header
            .group
                .box
                    a(href="index.html"): h2.logo sphere
                        span  construction
                .box
                    #menu
                        ul.menu
                            li.menu__item: a.menu__link(href="index.html") home
                            li.menu__item: a.menu__link(href="body.html") body of page
        section#html
                .group
                    .box
                        .info__html
                            img(src="image/html/html1.png", alt="")
                            img(src="image/html/html2.png", alt="")
                            img(src="image/html/html3.png", alt="")
        footer#footer
            .group
                .box
                    p.credits &copy; all rights reserved 2020
