<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Sphere Construction
        link(rel="stylesheet", href="css/style.css")
    body
        header#header
            .group
                .box
                    a(href="index.html"): h2.logo sphere
                        span  construction
                .box
                    #menu
                        ul.menu
                            li.menu__item: a.menu__link(href="index.html") home
                            li.menu__item: a.menu__link(href="body.html") body of page
            .group
                .box
                    .banner
                        
                        h1 leaders in construction quality and infrectructure
                        img(src="image/arrow/arrow1.png", alt="down arrow")
        section#info__services
            .group
                .box
                    .services__info
                        h3 services

        section#services
            .group
                .box.tablet
                    .services
                        img(src="image/services/service1.webp")
                        h3.services__title Planning
                        p.services__description our architects are of the highest quality

                .box.tablet
                    .services
                        img(src="image/services/service2.webp")
                        h3.services__title Model
                        p.services__description we make digital presentations with all the means of technology
                .box.tablet
                    .services
                        img(src="image/services/service3.webp")
                        h3.services__title Construccion
                        p.services__description we have trained staff and the best quality teams with the essential measures to carry out the right Project
        section#info
            .group
                .box
                    .info
                        h3.info__title about company
                        p.info__description We are a successful company in charge of multiple projects and we are recognized for our good services that we offer to you
        section#video
            .group
                .box
                    video(src="video/video1.mp4", autoplay, loop)
        section#info__services
            .group
                .box
                    .services__info
                        h3 proyects

        section#services
            .group
                .box.tablet
                    .services
                        img(src="image/proyects/proyect1.webp")

                .box.tablet
                    .services
                        video(src="video/video2.mp4", autoplay, controls)

                .box.tablet
                    .services
                        img(src="image/proyects/proyect3.webp")
                .box.tablet
                    .services
                        img(src="image/proyects/proyect4.webp")
        footer#footer
            .group
                .box
                    p.credits &copy; all rights reserved 2020
    