.logo {
    margin: 0;
    padding: .5em;
    width: 9em;
    background: #EDCD1F;
    color: #2d3e50;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    
    span {
        color: #2d3e50;
        font-weight: 400;
    }
}