#info {
    background: #1E2D3B;
    width: 45%;
}

.info {
    padding-top: .9em;
    padding-bottom: .5em;

    &__title {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        border-bottom:  2.5px solid orangered;
        padding-bottom: .3em;
        width: 52%;
    }

    &__description {
        color: white;
        font-size: 1.5em;
        width: 60%;
    }
}

.info__html {
    img {
        width: 100%;
    }
}