#services {
    background: #1E2D3B;
    text-align: center;
    
    .box.tablet {
        width: 23.6%;
        display: inline-table;
    }
}

#info__services {
    background: #1E2D3B;
}

.services__info {
    margin-left: 16.8em;
    padding-top: .1em;
    width: 17%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8em;
    border-bottom: 5px solid #EDCD1F;
    
    
}

.services {
    padding-top: .9em;
    padding-bottom: 1.5em;
    text-align: center;

    img {
        width: 58%;
        // border-radius: 50%;
        // background: #FFF;
        opacity: .5;

        &:hover {
            transition: .5s;
            opacity: .9;
        }
    }

    video {
        width: 100%;

    }

    &__title {
        color: orangered;
        margin: .3em 0;
        font-size: 1.7em;
        opacity: .7;
    }

    &__description {
        font-size: 1em;
    }
}